@import './base.css';

#app {
    background: #181818;
}

@font-face {
    font-family: 'HyliaSerif';
    src: url('../fonts/HyliaSerifBeta-Regular.otf') format('opentype');
}
* {
    font-family: 'HyliaSerif';
    color: white;
    letter-spacing: 1px;
}

section{
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
